<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd">
	<display-name>simject demo server</display-name>
	<servlet>
		<servlet-name>remote</servlet-name>
		<servlet-class>org.simject.remote.SimServerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>remote</servlet-name>
		<url-pattern>/remote/*</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>simjectConfig</param-name>
		<param-value>resources.xml</param-value>
	</context-param>
</web-app>